.imgsliderimg{
    margin-top:20px ;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.imgsliderbtn{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
    margin-top:100px ;
    margin-bottom:120px ;
    margin-left: 100px;
    margin-right: 100px;
}

.imgsliderbtn > *{
    stroke: white;
    fill: black;
    width: 2rem;
    height: 2rem;
}
.imgsliderbtn:hover{ 
    background-color: #b0e1e1;
}
