/* searchHome.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.searchContainer {
  width: 60%;
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tag {
  background-color: #eee;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.selectedIngredients {
  display: flex;
  flex-wrap: wrap;
}

.selectedTag {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.closeIcon {
  margin-left: 5px;
}

.toggleButton {
  margin-top: 10px;
  cursor: pointer;
}

.searchButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.borderContainer {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
}
